/* Se crea todo el CSS del footer que despues se importa en el stylesheet global */
main {
  height: 1740px;
}

body {
  background-color: transparent;
  overflow: hidden;
}

#landingContent {
  margin-top: -10px;
  background: linear-gradient(to bottom, #4ca4f7, #005cb1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 1350px;
}

.landingContent-container {
  margin-bottom: 400px;
}

.slick-carousel {
  z-index: 1;
  height: 1150px;
  width: 1500px;
  overflow: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -70px;
}

.welcome {
  display: flex;
  align-items: center;
  text-shadow: 1px -1px 3px #7badf4;
}

#cabriella-shell {
  height: 700px;
  top: 150px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  text-shadow: 1px -1px 3px #8e71e6;
}

.game-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  text-align: center;
  color: #e5eefd;
  text-shadow: 6px 1px 16px #a2c7fb;
}

.cabriela-text {
  color: #d4c8fd;
  text-shadow: 6px 1px 16px #a5b5f3;
  font-size: 80px;
  margin: 0%;
  text-align: center;
}

.sub-description {
  color: #2b2a55;
  text-align: center;
}

.game-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
  font-size: 60px;
}

.elevator-pitch {
  width: 1300px;
  margin-left: 140px;
  margin-top: 40px;
  text-align: center;
  color: #e5eefd;
  text-shadow: 4px 3px 10px #21467a;
}

.enemies {
  display: flex;
  align-items: center;
  font-size: 90px;
  justify-content: space-between;
  margin-top: 200px;
  text-shadow: 4px 3px 10px #21467a;
}

.inf-container {
  display: flex;
  align-items: center;
  height: 1100px;
  width: 1500px;
}

.enemy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enemy-description {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.beware-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  text-align: center;
  color: #e5eefd;
  text-shadow: 6px 6px 16px #a2c7fb;
}

.enemy1 img {
  height: 260px;
  width: 260px;
}

.enemy2 img {
  height: 260px;
  width: 260px;
  margin-top: 80px;
}

.enemy3 img {
  height: 260px;
  width: 260px;
  margin-top: 80px;
}

.enemy-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

.enemy-text1 {
  height: 20px;
  width: 100%;
  margin-top: -40px;
}

.enemy-text2 {
  height: 20px;
  width: 100%;
  margin-top: 280px;
}

.enemy-text3 {
  height: 20px;
  width: 100%;
  margin-top: 300px;
}

.how-to-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
  font-size: 90px;
}

.how-to-play-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  text-align: center;
  color: #e5eefd;
  text-shadow: 6px 6px 16px #a2c7fb;
}

.how-to-play-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-to-play-animation {
  width: 500px;
  height: 500px;
  color: red;
}

.how-to-play-content-text {
  text-align: center;
  margin-left: 10px;
  color: #e5eefd;
  text-shadow: 4px 3px 10px #21467a;
  width: 1400px;
  font-size: 40px;
  margin-bottom: 40px;
}

.play-button {
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#play-button {
  background: transparent;
  border: 2px;
  outline: none;
  border-radius: 47px;
  cursor: pointer;
  color: rgb(3 3 3);
  font-weight: 500;
  transition: 0.5s;
  font-size: 35px;
}

#play-button:hover {
  background: rgb(231 0 85); /* Cambia el color de fondo que desees */
  background-color: transparent;
}

.waves {
  position: relative;
  width: 100%;
  height: 20vh;
  margin-bottom: -7px;
  min-height: 80px;
  max-height: 180px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)     infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (width <= 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

.bottom-decoration {
  aspect-ratio: 23/14;
  size-adjust: initial;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  bottom: 1340px;
  background-image: url("../../assets/images/underwater-background.svg");
}
