<!-- Desarrollo de componente LandingContent SOLO HTML -->
<div class="spacer layer1"></div>

<div class="body-gradient ">
    <div class="sup-container">
        <div class="layer3">
            <img src="../../assets/images/blob-haikei.png" alt="">
            <p class="game-description">Embark on an underwater odyssey with </p>
            <p class="cabriela-text">Cabriela</p>
            <p class="sub-description">Where thrilling challenges and
                captivating discoveries await!</p>
        </div>
    </div>
    <div class="inf-container">
        <div class="enemy-description">
            <div class="enemy-container">
                <div class="enemy1"></div>
            </div>
            <div class="enemy2">

            </div>
            <div class="enemy3">

            </div>
        </div>
        <div class="enemy-text">
            <div class="enemy-text1">
                scdsdc
            </div>
            <div class="enemy-text2">
                sdcsd
            </div>
            <div class="enemy-text3">
                csds
            </div>
        </div>

        <div class="game-summary">

        </div>
    </div>
</div>
<div class="spacer2 layer2"></div>