<!-- Desarrollo de componente LandingContent SOLO HTML -->
<!-- <div class="spacer layer1"></div>

<div class="body-gradient ">
    <div class="sup-container">
        <div class="layer3">
            <img src="../../assets/images/blob-haikei.png" alt="">
            <p class="game-description">Embark on an underwater odyssey with </p>
            <p class="cabriela-text">Cabriela</p>
            <p class="sub-description">Where thrilling challenges and
                captivating discoveries await!</p>
        </div>
    </div>
    <div class="inf-container">
        <div class="enemy-description">
            <div class="enemy-container">
                <div class="enemy1"></div>
                <img src="../../assets/icons/shark.png" alt="shark">
            </div>
            <div class="enemy2">
                <img src="../../assets/icons/jellyfish.PNG" alt="jellyfish">

            </div>
            <div class="enemy3">
                <img src="../../assets/icons/octopus.png" alt="octopus">
            </div>
        </div>
        <div class="enemy-text">
            <div class="enemy-text1">
                Keep safe from the fierce sharks lurking in the depths! You must dodge their sharp fins and teeth as you
                glide towards your destination. </div>
            <div class="enemy-text2">
                Majestic manta rays will also cross your path. Stay calm and avoid their graceful movements to keep
                progressing towards the ocean floor.
            </div>
            <div class="enemy-text3">
                Beware of the floating jellyfish with their long tentacles. Steer clear of their stinging tendrils to
                ensure a safe journey through the underwater realm.
            </div>
        </div>

        <div class="game-summary">
        </div>
    </div>
</div>
<div class="spacer2 layer2"></div> -->