/* Se importan todos los CSS de cada componente */
@import url("../../components/Header/Header.css");
@import url("../../components/Footer/Footer.css");
@import url("../../components/LandingContent/LandingContent.css");

/* Se insertan clases o CSS global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #87cefa, #00003d);
    height: 100vh;
}
