header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
}

header .brand {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a::before {
  content: "";
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover::before {
  width: 100%;
}

@media (width <= 1040px) {
  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(1 1 1 / 50%);
  }

  header .navigation.active .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a::before {
    background: #222;
    height: 5px;
  }

  header .navigation .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background-image: url("/src/assets/icons/favicon-16x16.png") no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url("/src/assets/icons/favicon-16x16.png") no-repeat;
    background-size: 25px;
    background-position: center;
  }
}

/*
.navigation {
  background-color: transparent;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  position: relative;
  color: rgb(6 5 5);
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  font-size: 35px;
}

.navigation a::after {
  content: "";
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: rgb(4 3 3);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btn-login {
  background-color: white;
  width: 300px;
  height: 100px;
  border: 2px;
  outline: none;
  border-radius: 47px;
  cursor: pointer;
  color: rgb(17 66 134);
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
  font-size: 35px;
  font-family: "Richard Samuels", sans-serif;
}