@import url("../../assets/css/styles.css");

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

.svg-elem-1 {
  animation: animate-svg-fill-1 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both;
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

.svg-elem-2 {
  animation: animate-svg-fill-2 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

.svg-elem-3 {
  animation: animate-svg-fill-3 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

.svg-elem-4 {
  animation: animate-svg-fill-4 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9000000000000001s both;
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

.svg-elem-5 {
  animation: animate-svg-fill-5 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

.svg-elem-6 {
  animation: animate-svg-fill-6 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

.svg-elem-7 {
  animation: animate-svg-fill-7 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5000000000000002s both;
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0 84 158);
  }
}

.svg-elem-8 {
  animation: animate-svg-fill-8 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255 255 255);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255 255 255);
  }
}

.svg-elem-9 {
  animation: animate-svg-fill-9 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s both;
}

.container {
  height: 100vh;
  width: 100%;
  margin-top: -7px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #4ca4f7, #005cb1);
  align-items: center;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 400px;
}

h1 {
  color: white;
  font-size: 80px;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
}

button {
  font-family: "Richard Samuels", sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.collapsible {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 55px;
}

.collapsible:hover {
  background-color: #4ca4f7;
}

.collapsible::after {
  content: "\002B";
  font-size: 65px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  width: 70%;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

footer {
  width: 100%;
  height: 390px;
  padding: 0;
  position: relative;
  background: #ff9f61;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: column;
}

.follow-us {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 45px;
  align-self: center;
}

.social-media {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.copyright {
  color: black;
  align-items: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  margin: 5px;
}

.buttons-container {
  display: flex;
  font-size: 1.1em;
  color: #ff9f61;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 25px;
  justify-self: center;
  align-self: center;
  justify-content: center;
  gap: 50px;
}

.buttons-a {
  text-decoration: none;
  color: rgb(0 0 0);
  padding: 0 50px;
}

.buttons-container:hover {
  text-decoration: none;
  color: rgb(15 12 12);
}

/* stylelint-disable indentation */
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons a {
  display: flex;
  font-size: 60px;
  align-items: center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.popup .icons {
  margin: 15px 0 20px;
}

.content .icons a {
  text-decoration: none;
  border: 1px solid transparent;
  height: 80px;
  width: 80px;
}

.icons a i {
  transition: transform 0.3s ease-in-out;
}

.icons a:nth-child(1) {
  color: #1877f2;
  border-color: #b7d4fb;
  margin-left: 20px;
  margin-right: 40px;
  text-decoration: none;
}

.icons a:nth-child(1):hover {
  text-decoration: none;
}

.icons a:nth-child(2) {
  color: #46c1f6;
  border-color: #b6e7fc;
  margin-right: 30px;
  text-decoration: none;
}

.icons a:nth-child(2):hover {
  text-decoration: none;
}

.icons a:nth-child(3) {
  color: #e1306c;
  border-color: #f5bccf;
  margin-right: 30px;
  text-decoration: none;
}

.icons a:nth-child(3):hover {
  margin-right: 30px;
  text-decoration: none;
}

.icons a:hover {
  color: #fff;
  border-color: transparent;
}

.icons a:hover i {
  transform: scale(1.2);
}

.content .field {
  margin: 12px 0 -5px;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}
