<!-- Desarrollo de componente Footer SOLO HTML -->
<footer>
    <div class="footer-container">
        <div class="follow-us">
            <p>Follow us on</p>
        </div>
        <div class="social-media">
            <img src="../../assets/images/socialmedia.png">
        </div>

        <div class="copyright">
            <p>&copy Copyright AquaGoat 2023 - All rights reserved.</p>
        </div>

        <div class="buttons-container">
            <a class="buttons-a" href="#">About Us</a>
            <a class="buttons-a" href="#">Contact</a>
            <a class="buttons-a" href="#">Share/FAQs</a>
        </div>
    </div>
</footer>