.contenedor {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    background: rgb(34 189 195);
    background: linear-gradient(0deg, rgb(34 189 195 / 100%) 11%, rgb(36 156 206 / 100%) 42%, rgb(42 155 238 / 100%) 62%, rgb(45 143 253 / 100%) 94%);
    overflow: hidden;
}

.container-buttons-game {
    margin-left: 50px;
    font-size: 30px;
}

.objeto {
    width: 84px;
    height: 84px;
    position: absolute;
    top: 22px;
    left: 480px;
    z-index: 2;
    background: url("../../assets/images/dino.png") repeat-x 0 0;
    background-size: 336px 84px;
    background-position-x: 0;
}

.objeto-corriendo {
    animation: animarObjeto 0.25s steps(2) infinite;
}

.espacio {
    width: 1000px;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../assets/images/burbujas.png") repeat-x 0 0;

    /* background-size: 50% 42px; */
}

.medusa {
    width: 134px;
    height: 134px;
    position: absolute;

    /*  bottom: 1px; */
    left: 600px;
    z-index: 1;
    background: url("../../assets/images/medusaenemigo134px.png") no-repeat;
}

.pulpo {
    width: 134px;
    height: 134px;
    background: url("../../assets/images/pulpoenemigo134px.png") no-repeat;
}

.tiburon {
    width: 134px;
    height: 134px;
    background: url("../../assets/images/tiburonenemigo134.png") no-repeat;
}

.fish {
    position: absolute;
    width: 920px; /* Especifica el ancho deseado */
    height: 600px; /* Especifica el alto deseado */
    background-image: url("/src/assets/images/fondonegropez.png") no-repeat; /* Especifica la imagen de fondo */

    /* Agrega otros estilos necesarios, como la posición, la animación, etc. */
}

@keyframes animarObjeto {
    from {
        background-position-x: -84px;
    }

    to {
        background-position-x: -252px;
    }
}
