<div class="PlayNow">

    <div class="container">
        <div class="left-rocks">
            <img src="/src/assets/images/left-rocks.svg" alt="right rocks">
            
        </div>
        <div class="middle-area">
            <div class="background-fishes"></div>

            <div class="bubbles">
                <span style="--i:18;"></span>
                <span style="--i:8;"></span>
                <span style="--i:12;"></span>
                <span style="--i:23;"></span>
                <span style="--i:6;"></span>
                <span style="--i:34;"></span>
                <span style="--i:21;"></span>
                <span style="--i:18;"></span>
                <span style="--i:11;"></span>
                <span style="--i:5;"></span>
                <span style="--i:18;"></span>
                <span style="--i:7;"></span>
                <span style="--i:17;"></span>
                <span style="--i:20;"></span>
                <span style="--i:28;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
            </div>
            <div class="contenedor-juego">
                <div class="contenedor">

                    <div class="espacio"></div>
                    <div class="objeto objeto-corriendo"></div>
                    <div class="score"></div>

                    <div class="container-buttons-game">
                        <button id="restartButton">Restart</button>
                        <button id="pauseButton">Pause</button>
                        <button id="soundButton">Sound On/Off</button>
                        <button id="score">Score</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-rocks">
            <img src="/src/assets/images/right-rocks.svg" alt="right rocks">
        </div>
    </div>
</div>